In [97]:
import pandas as pd

In [98]:
# List of valid zip codes in Charlotte only
valid_zipcodes = [
    '28202', '28203', '28204', '28205', '28206', '28207', '28208', '28209',
    '28210', '28211', '28212', '28213', '28214', '28215', '28216', '28217',
    '28226', '28227', '28262', '28269', '28270', '28273', '28277', '28278'
]

In [99]:
df_incidents11 = pd.read_csv('2011_Incident (1).csv')
df_incidents11_valid = df_incidents11[df_incidents11['Zipcode'].isin(valid_zipcodes)]

df_incidents12 = pd.read_csv('2012_Incident.csv')
df_incidents12_valid = df_incidents12[df_incidents12['Zipcode'].isin(valid_zipcodes)]

df_incidents13 = pd.read_csv('2013_Incident.csv')
df_incidents13_valid = df_incidents13[df_incidents13['Zipcode'].isin(valid_zipcodes)]

df_incidents14 = pd.read_csv('2014_Incident.csv')
df_incidents14_valid = df_incidents14[df_incidents14['Zipcode'].isin(valid_zipcodes)]

df_incidents15 = pd.read_csv('2015_Incident.csv')
df_incidents15_valid = df_incidents15[df_incidents15['Zipcode'].isin(valid_zipcodes)]

df_incidents16 = pd.read_csv('2016_Incident.csv')
df_incidents16_valid = df_incidents16[df_incidents16['Zipcode'].isin(valid_zipcodes)]

C:\Users\Trevor\AppData\Local\Temp\ipykernel_6788\2397259115.py:10: DtypeWarning: Columns (14,19) have mixed types. Specify dtype option on import or set low_memory=False.
  df_incidents14 = pd.read_csv('2014_Incident.csv')

In [100]:
df_property11 = pd.read_csv('2011_Property.csv')


df_property12 = pd.read_csv('2012_Property.csv')


df_property13 = pd.read_csv('2013_Property.csv')


df_property14 = pd.read_csv('2014_Property.csv')


df_property15 = pd.read_csv('2015_Property.csv')


df_property16 = pd.read_csv('2016_Property.csv')

df_MedianEarnings = pd.read_csv('Median_Earnings_by_Industry.csv')
df_Occupation = pd.read_csv('Occupations.csv')
df_pop_income = pd.read_csv('Pop_and_Income_by_zip.csv')
df_race = pd.read_csv('Race_and_Ethnicity.csv')

In [101]:
# Step 1 Convert all columns in df_incidents11_valid to string data type
df_incidents11_valid = df_incidents11_valid.astype(str)
df_property11 = df_property11.astype(str)
df_MedianEarnings = df_MedianEarnings.astype(str)
df_Occupation = df_Occupation.astype(str)
df_pop_income = df_pop_income.astype(str)
df_race = df_race.astype(str)

# Step 2: Merge DataFrames using valid zip codes
merged11_data = df_incidents11_valid.merge(df_property11, on='Complaint_No', how='left')
merged11_data = merged11_data.merge(df_MedianEarnings, on='City', how='left')
merged11_data = merged11_data.merge(df_Occupation, on='City', how='left')
merged11_data = merged11_data.merge(df_pop_income, on='Zipcode', how='left')
merged11_data = merged11_data.merge(df_race, on='City', how='left')
merged11_data

,Complaint_No,Block_No,Direction,Street_Name,Street_Type,Suffix,Apt_No,City,State_x,Zipcode,...,Race,ID Ethnicity,Ethnicity,ID Year,Year,Hispanic Population Moe,ID Geography,Slug Geography,Population,share
0,20110101000308,4425,,EDDLEMAN,RD,,,CHARLOTTE,NC,28208,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,20110101000700,2228,,BEATTIES FORD,RD,,,CHARLOTTE,NC,28216,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,20110101001302,4027,,QUAIL GLENN,CT,,K,CHARLOTTE,NC,28226,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,20110101001302,4027,,QUAIL GLENN,CT,,K,CHARLOTTE,NC,28226,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,20110101001302,4027,,QUAIL GLENN,CT,,K,CHARLOTTE,NC,28226,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90548,20111010142504,7800,,IBM,DR,,,CHARLOTTE,NC,28262,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90549,20111010142800,3424,,WILKINSON,BV,,,CHARLOTTE,NC,28214,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90550,20111010143801,14126,,RIVERGATE,PY,,100,CHARLOTTE,NC,28273,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90551,20111010143802,4923,S,TRYON,ST,,,CHARLOTTE,NC,28217,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90552,20111010144002,161,,PARK FAIRFAX,DR,,,CHARLOTTE,NC,28208,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [102]:
# Step 1 Convert all columns in df_incidents11_valid to string data type
df_incidents12_valid = df_incidents12_valid.astype(str)
df_property12 = df_property12.astype(str)
df_MedianEarnings = df_MedianEarnings.astype(str)
df_Occupation = df_Occupation.astype(str)
df_pop_income = df_pop_income.astype(str)
df_race = df_race.astype(str)

# Step 2: Merge DataFrames using valid zip codes
merged12_data = df_incidents12_valid.merge(df_property12, on='Complaint_No', how='left')
merged12_data = merged12_data.merge(df_MedianEarnings, on='City', how='left')
merged12_data = merged12_data.merge(df_Occupation, on='City', how='left')
merged12_data = merged12_data.merge(df_pop_income, on='Zipcode', how='left')
merged12_data = merged12_data.merge(df_race, on='City', how='left')
merged12_data

,Complaint_No,Block_No,Direction,Street_Name,Street_Type,Suffix,Apt_No,City,State_x,Zipcode,...,Race,ID Ethnicity,Ethnicity,ID Year,Year,Hispanic Population Moe,ID Geography,Slug Geography,Population,share
0,20120616144301,9108,,REAMES,RD,,,CHARLOTTE,NC,28216,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,20120616144400,2903,N,DAVIDSON,ST,,,CHARLOTTE,NC,28205,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,20120616144400,2903,N,DAVIDSON,ST,,,CHARLOTTE,NC,28205,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,20120616144700,601,W,24TH,ST,,,CHARLOTTE,NC,28206,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,20120616144700,601,W,24TH,ST,,,CHARLOTTE,NC,28206,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
289099,20121230232000,350,E,6TH,ST,,,CHARLOTTE,NC,28202,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
289100,20121230232000,350,E,6TH,ST,,,CHARLOTTE,NC,28202,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
289101,20121230232104,6517,,YATESWOOD,DR,,,CHARLOTTE,NC,28212,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
289102,20121230232104,6517,,YATESWOOD,DR,,,CHARLOTTE,NC,28212,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
289103,20121230235402,9309,,KINGS FALLS,DR,,,CHARLOTTE,NC,28210,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [103]:
# Step 1 Convert all columns in df_incidents11_valid to string data type
df_incidents13_valid = df_incidents13_valid.astype(str)
df_property13 = df_property13.astype(str)
df_MedianEarnings = df_MedianEarnings.astype(str)
df_Occupation = df_Occupation.astype(str)
df_pop_income = df_pop_income.astype(str)
df_race = df_race.astype(str)

# Step 2: Merge DataFrames using valid zip codes
merged13_data = df_incidents13_valid.merge(df_property13, on='Complaint_No', how='left')
merged13_data = merged13_data.merge(df_MedianEarnings, on='City', how='left')
merged13_data = merged13_data.merge(df_Occupation, on='City', how='left')
merged13_data = merged13_data.merge(df_pop_income, on='Zipcode', how='left')
merged13_data = merged13_data.merge(df_race, on='City', how='left')
merged13_data

,Complaint_No,Block_No,Direction,Street_Name,Street_Type,Suffix,Apt_No,City,State_x,Zipcode,...,Race,ID Ethnicity,Ethnicity,ID Year,Year,Hispanic Population Moe,ID Geography,Slug Geography,Population,share
0,20130101000201,9105,,SPYGLASS,PL,,D,CHARLOTTE,NC,28208,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,20130101000901,,,EQUIPMENT,DR,,207,CHARLOTTE,NC,28213,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,20130101001301,3201,,BEATTIES FORD,RD,,,CHARLOTTE,NC,28216,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,20130101001400,5745,,CENTRAL,AV,,,CHARLOTTE,NC,28205,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,20130101001604,2400,,BEATTIES FORD RD.,,,,CHARLOTTE,NC,28216,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112869,20131230233000,1204,,HEATHER MIST,AV,,105,CHARLOTTE,NC,28213,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
112870,20131230233000,1204,,HEATHER MIST,AV,,105,CHARLOTTE,NC,28213,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
112871,20131230235601,4017,,TRIANGLE,DR,,,CHARLOTTE,NC,28208,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
112872,20131230235601,4017,,TRIANGLE,DR,,,CHARLOTTE,NC,28208,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
112873,20131230235601,4017,,TRIANGLE,DR,,,CHARLOTTE,NC,28208,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [104]:
# Step 1 Convert all columns in df_incidents11_valid to string data type
df_incidents14_valid = df_incidents14_valid.astype(str)
df_property14 = df_property14.astype(str)
df_MedianEarnings = df_MedianEarnings.astype(str)
df_Occupation = df_Occupation.astype(str)
df_pop_income = df_pop_income.astype(str)
df_race = df_race.astype(str)

# Step 2: Merge DataFrames using valid zip codes
merged14_data = df_incidents14_valid.merge(df_property14, on='Complaint_No', how='left')
merged14_data = merged14_data.merge(df_MedianEarnings, on='City', how='left')
merged14_data = merged14_data.merge(df_Occupation, on='City', how='left')
merged14_data = merged14_data.merge(df_pop_income, on='Zipcode', how='left')
merged14_data = merged14_data.merge(df_race, on='City', how='left')
merged14_data

,Complaint_No,Block_No,Direction,Street_Name,Street_Type,Suffix,Apt_No,City,State_x,Zipcode,...,Race,ID Ethnicity,Ethnicity,ID Year,Year,Hispanic Population Moe,ID Geography,Slug Geography,Population,share
0,20140101000503,9023,,ARBORGATE,DR,,,CHARLOTTE,NC,28217,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,20140101000503,9023,,ARBORGATE,DR,,,CHARLOTTE,NC,28217,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,20140101000503,9023,,ARBORGATE,DR,,,CHARLOTTE,NC,28217,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,20140101000503,9023,,ARBORGATE,DR,,,CHARLOTTE,NC,28217,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,20140101000503,9023,,ARBORGATE,DR,,,CHARLOTTE,NC,28217,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115084,20141231234505,210,E,TRADE,ST,,286E,CHARLOTTE,NC,28203,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
115085,20141231234804,3203,,NOBLES,AV,,,CHARLOTTE,NC,28208,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
115086,20141231234804,3203,,NOBLES,AV,,,CHARLOTTE,NC,28208,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
115087,20141231234805,201,N,TRYON,ST,,,CHARLOTTE,NC,28202,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
115088,20141231235604,8400,,OLD CONCORD RD,RD,,,CHARLOTTE,NC,28213,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [105]:
# Step 1 Convert all columns in df_incidents11_valid to string data type
df_incidents15_valid = df_incidents15_valid.astype(str)
df_property15 = df_property15.astype(str)
df_MedianEarnings = df_MedianEarnings.astype(str)
df_Occupation = df_Occupation.astype(str)
df_pop_income = df_pop_income.astype(str)
df_race = df_race.astype(str)

# Step 2: Merge DataFrames using valid zip codes
merged15_data = df_incidents15_valid.merge(df_property15, on='Complaint_No', how='left')
merged15_data = merged15_data.merge(df_MedianEarnings, on='City', how='left')
merged15_data = merged15_data.merge(df_Occupation, on='City', how='left')
merged15_data = merged15_data.merge(df_pop_income, on='Zipcode', how='left')
merged15_data = merged15_data.merge(df_race, on='City', how='left')
merged15_data

,Complaint_No,Block_No,Direction,Street_Name,Street_Type,Suffix,Apt_No,City,State_x,Zipcode,...,Race,ID Ethnicity,Ethnicity,ID Year,Year,Hispanic Population Moe,ID Geography,Slug Geography,Population,share
0,20150101000306,,,LUNENBERG,LN,,,CHARLOTTE,NC,28278,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,20150101000306,,,LUNENBERG,LN,,,CHARLOTTE,NC,28278,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,20150101000306,,,LUNENBERG,LN,,,CHARLOTTE,NC,28278,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,20150101001001,14422,,CINNAMON FIELD,RD,,,CHARLOTTE,NC,28273,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,20150101001001,14422,,CINNAMON FIELD,RD,,,CHARLOTTE,NC,28273,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119258,20151231225501,7513,,BRADLOW,CT,,,CHARLOTTE,NC,28210,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119259,20151231225501,7513,,BRADLOW,CT,,,CHARLOTTE,NC,28210,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119260,20151231232801,10332,,COVINGTONWOOD,DR,,,CHARLOTTE,NC,28214,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119261,20151231234900,3331,,OPEN FIELD,LN,,325,CHARLOTTE,NC,28277,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119262,20151231234900,3331,,OPEN FIELD,LN,,325,CHARLOTTE,NC,28277,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [106]:
# Step 1 Convert all columns in df_incidents11_valid to string data type
df_incidents16_valid = df_incidents16_valid.astype(str)
df_property16 = df_property16.astype(str)
df_MedianEarnings = df_MedianEarnings.astype(str)
df_Occupation = df_Occupation.astype(str)
df_pop_income = df_pop_income.astype(str)
df_race = df_race.astype(str)

# Step 2: Merge DataFrames using valid zip codes
merged16_data = df_incidents16_valid.merge(df_property16, on='Complaint_No', how='left')
merged16_data = merged16_data.merge(df_MedianEarnings, on='City', how='left')
merged16_data = merged16_data.merge(df_Occupation, on='City', how='left')
merged16_data = merged16_data.merge(df_pop_income, on='Zipcode', how='left')
merged16_data = merged16_data.merge(df_race, on='City', how='left')
merged16_data

,Complaint_No,Block_No,Direction,Street_Name,Street_Type,Suffix,Apt_No,City,State_x,Zipcode,...,Race,ID Ethnicity,Ethnicity,ID Year,Year,Hispanic Population Moe,ID Geography,Slug Geography,Population,share
0,20160101000006,2219,,HEATHER GLEN,LN,,,CHARLOTTE,NC,28208,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,20160101000006,2219,,HEATHER GLEN,LN,,,CHARLOTTE,NC,28208,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,20160101000006,2219,,HEATHER GLEN,LN,,,CHARLOTTE,NC,28208,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,20160101000006,2219,,HEATHER GLEN,LN,,,CHARLOTTE,NC,28208,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,20160101000101,8120,E,W T HARRIS,BV,,,CHARLOTTE,NC,28215,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128041,20161231235500,1314,,INTERURBAN,AV,,,CHARLOTTE,NC,28208,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
128042,20161231235500,1314,,INTERURBAN,AV,,,CHARLOTTE,NC,28208,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
128043,20161231235500,1314,,INTERURBAN,AV,,,CHARLOTTE,NC,28208,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
128044,20161231235500,1314,,INTERURBAN,AV,,,CHARLOTTE,NC,28208,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
128045,20161231235500,1314,,INTERURBAN,AV,,,CHARLOTTE,NC,28208,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [120]:
combined_df = pd.concat([merged11_data, merged12_data, merged13_data, merged14_data, merged15_data, merged16_data], ignore_index=True)
combined_df

,Complaint_No,Block_No,Direction,Street_Name,Street_Type,Suffix,Apt_No,City,State_x,Zipcode,...,Year,Hispanic Population Moe,ID Geography,Slug Geography,Population,share,Incident_From_Time,Incident_to_Time,Unnamed: 28,Unnamed: 29
0,20110101000308,4425,,EDDLEMAN,RD,,,CHARLOTTE,NC,28208,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,20110101000700,2228,,BEATTIES FORD,RD,,,CHARLOTTE,NC,28216,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,20110101001302,4027,,QUAIL GLENN,CT,,K,CHARLOTTE,NC,28226,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,20110101001302,4027,,QUAIL GLENN,CT,,K,CHARLOTTE,NC,28226,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,20110101001302,4027,,QUAIL GLENN,CT,,K,CHARLOTTE,NC,28226,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
854924,20161231235500,1314,,INTERURBAN,AV,,,CHARLOTTE,NC,28208,...,NaN,NaN,NaN,NaN,NaN,NaN,2330,0.0,NaN,NaN
854925,20161231235500,1314,,INTERURBAN,AV,,,CHARLOTTE,NC,28208,...,NaN,NaN,NaN,NaN,NaN,NaN,2330,0.0,NaN,NaN
854926,20161231235500,1314,,INTERURBAN,AV,,,CHARLOTTE,NC,28208,...,NaN,NaN,NaN,NaN,NaN,NaN,2330,0.0,NaN,NaN
854927,20161231235500,1314,,INTERURBAN,AV,,,CHARLOTTE,NC,28208,...,NaN,NaN,NaN,NaN,NaN,NaN,2330,0.0,NaN,NaN
854928,20161231235500,1314,,INTERURBAN,AV,,,CHARLOTTE,NC,28208,...,NaN,NaN,NaN,NaN,NaN,NaN,2330,0.0,NaN,NaN

In [121]:
combined_df.columns

Index(['Complaint_No', 'Block_No', 'Direction', 'Street_Name', 'Street_Type',
       'Suffix', 'Apt_No', 'City', 'State_x', 'Zipcode', 'X_Coordinate',
       'Y_Coordinate', 'Division', 'Reported_Date', 'Location_Desc',
       'Location_Type', 'Incident_From_Date', 'Incident_to_date', 'Place1',
       'Place2', 'Clearance_Status', 'Clearance_Date', 'Case_Status',
       'Reporting_Agency', 'Follow_up_Section', 'NIBRS_Hi_Class',
       'Property_No', 'Property_type', 'Property_Desc', 'ID Gender', 'Gender',
       'ID Industry Group', 'Industry Group', 'ID Year_x', 'Year_x',
       'Median Earnings by Industry and Gender',
       'Median Earnings by Industry and Gender Moe', 'ID Geography_x',
       'Slug Geography_x', 'ID Group', 'Group', 'ID Subgroup', 'Subgroup',
       'ID Occupation', 'Occupation', 'ID Year_y', 'Year_y', 'ID State',
       'State_y', 'Workforce by Occupation and Gender',
       'Workforce by Occupation and Gender Moe', 'ACS Occupation yg RCA',
       'ID Geography_y', 'Slug Geography_y', 'Median Earnings',
       'Median Earnings Moe', 'Workforce Prev', 'Workforce Growth',
       'Median Earnings Prev', 'Median Earnings Growth', 'Share', '2010 Pop',
       'Median Household Income', 'ID Race', 'Race', 'ID Ethnicity',
       'Ethnicity', 'ID Year', 'Year', 'Hispanic Population Moe',
       'ID Geography', 'Slug Geography', 'Population', 'share',
       ' Incident_From_Time', 'Incident_to_Time', 'Unnamed: 28',
       'Unnamed: 29'],
      dtype='object')

In [122]:
combined_df.columns.str.strip()

Index(['Complaint_No', 'Block_No', 'Direction', 'Street_Name', 'Street_Type',
       'Suffix', 'Apt_No', 'City', 'State_x', 'Zipcode', 'X_Coordinate',
       'Y_Coordinate', 'Division', 'Reported_Date', 'Location_Desc',
       'Location_Type', 'Incident_From_Date', 'Incident_to_date', 'Place1',
       'Place2', 'Clearance_Status', 'Clearance_Date', 'Case_Status',
       'Reporting_Agency', 'Follow_up_Section', 'NIBRS_Hi_Class',
       'Property_No', 'Property_type', 'Property_Desc', 'ID Gender', 'Gender',
       'ID Industry Group', 'Industry Group', 'ID Year_x', 'Year_x',
       'Median Earnings by Industry and Gender',
       'Median Earnings by Industry and Gender Moe', 'ID Geography_x',
       'Slug Geography_x', 'ID Group', 'Group', 'ID Subgroup', 'Subgroup',
       'ID Occupation', 'Occupation', 'ID Year_y', 'Year_y', 'ID State',
       'State_y', 'Workforce by Occupation and Gender',
       'Workforce by Occupation and Gender Moe', 'ACS Occupation yg RCA',
       'ID Geography_y', 'Slug Geography_y', 'Median Earnings',
       'Median Earnings Moe', 'Workforce Prev', 'Workforce Growth',
       'Median Earnings Prev', 'Median Earnings Growth', 'Share', '2010 Pop',
       'Median Household Income', 'ID Race', 'Race', 'ID Ethnicity',
       'Ethnicity', 'ID Year', 'Year', 'Hispanic Population Moe',
       'ID Geography', 'Slug Geography', 'Population', 'share',
       'Incident_From_Time', 'Incident_to_Time', 'Unnamed: 28', 'Unnamed: 29'],
      dtype='object')

In [123]:
columns_to_keep = ['Complaint_No','NIBRS_Hi_Class','Location_Type','Incident_From_Date',' Incident_From_Time', 'Zipcode', 'Property_No', 'Property_type', 'Property_Desc', '2010 Pop', 'Workforce Growth',
                  'ID Gender', 'Median Earnings', 'Race', 'Ethnicity']

combined_df = combined_df[columns_to_keep]
combined_df

,Complaint_No,NIBRS_Hi_Class,Location_Type,Incident_From_Date,Incident_From_Time,Zipcode,Property_No,Property_type,Property_Desc,2010 Pop,Workforce Growth,ID Gender,Median Earnings,Race,Ethnicity
0,20110101000308,Drug Equipment Violations ...,Outdoors,1/1/2011,NaN,28208,1,Withheld ...,Withheld ...,34156,NaN,NaN,NaN,NaN,NaN
1,20110101000700,Aggravated Assault ...,Indoors,1/1/2011,NaN,28216,NaN,NaN,NaN,47227,NaN,NaN,NaN,NaN,NaN
2,20110101001302,Burglary/B&E ...,Indoors,12/31/2010,NaN,28226,1,Video Game Systems and Accessories ...,Electronic Equipment and Accessories ...,37286,NaN,NaN,NaN,NaN,NaN
3,20110101001302,Burglary/B&E ...,Indoors,12/31/2010,NaN,28226,2,Video Game Systems and Accessories ...,Electronic Equipment and Accessories ...,37286,NaN,NaN,NaN,NaN,NaN
4,20110101001302,Burglary/B&E ...,Indoors,12/31/2010,NaN,28226,3,Money/Cash ...,Money and Securities ...,37286,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
854924,20161231235500,Burglary/B&E ...,Indoors,12/31/16,2330,28208,1,TV Equipment ...,Electronic Equipment and Accessories ...,34156,NaN,NaN,NaN,NaN,NaN
854925,20161231235500,Burglary/B&E ...,Indoors,12/31/16,2330,28208,2,TV Equipment ...,Electronic Equipment and Accessories ...,34156,NaN,NaN,NaN,NaN,NaN
854926,20161231235500,Burglary/B&E ...,Indoors,12/31/16,2330,28208,3,Video Game Systems and Accessories ...,Electronic Equipment and Accessories ...,34156,NaN,NaN,NaN,NaN,NaN
854927,20161231235500,Burglary/B&E ...,Indoors,12/31/16,2330,28208,4,Tablet Computer ...,Electronic Equipment and Accessories ...,34156,NaN,NaN,NaN,NaN,NaN
854928,20161231235500,Burglary/B&E ...,Indoors,12/31/16,2330,28208,5,TV Equipment ...,Electronic Equipment and Accessories ...,34156,NaN,NaN,NaN,NaN,NaN

In [124]:
combined_df = combined_df.rename(columns={' Incident_From_Time':'Incident_Time'})
combined_df = combined_df.rename(columns={'Incident_From_Date':'Incident_Date'})
combined_df = combined_df.rename(columns={'NIBRS_Hi_Class':'Property_Crimes'})

combined_df

,Complaint_No,Property_Crimes,Location_Type,Incident_Date,Incident_Time,Zipcode,Property_No,Property_type,Property_Desc,2010 Pop,Workforce Growth,ID Gender,Median Earnings,Race,Ethnicity
0,20110101000308,Drug Equipment Violations ...,Outdoors,1/1/2011,NaN,28208,1,Withheld ...,Withheld ...,34156,NaN,NaN,NaN,NaN,NaN
1,20110101000700,Aggravated Assault ...,Indoors,1/1/2011,NaN,28216,NaN,NaN,NaN,47227,NaN,NaN,NaN,NaN,NaN
2,20110101001302,Burglary/B&E ...,Indoors,12/31/2010,NaN,28226,1,Video Game Systems and Accessories ...,Electronic Equipment and Accessories ...,37286,NaN,NaN,NaN,NaN,NaN
3,20110101001302,Burglary/B&E ...,Indoors,12/31/2010,NaN,28226,2,Video Game Systems and Accessories ...,Electronic Equipment and Accessories ...,37286,NaN,NaN,NaN,NaN,NaN
4,20110101001302,Burglary/B&E ...,Indoors,12/31/2010,NaN,28226,3,Money/Cash ...,Money and Securities ...,37286,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
854924,20161231235500,Burglary/B&E ...,Indoors,12/31/16,2330,28208,1,TV Equipment ...,Electronic Equipment and Accessories ...,34156,NaN,NaN,NaN,NaN,NaN
854925,20161231235500,Burglary/B&E ...,Indoors,12/31/16,2330,28208,2,TV Equipment ...,Electronic Equipment and Accessories ...,34156,NaN,NaN,NaN,NaN,NaN
854926,20161231235500,Burglary/B&E ...,Indoors,12/31/16,2330,28208,3,Video Game Systems and Accessories ...,Electronic Equipment and Accessories ...,34156,NaN,NaN,NaN,NaN,NaN
854927,20161231235500,Burglary/B&E ...,Indoors,12/31/16,2330,28208,4,Tablet Computer ...,Electronic Equipment and Accessories ...,34156,NaN,NaN,NaN,NaN,NaN
854928,20161231235500,Burglary/B&E ...,Indoors,12/31/16,2330,28208,5,TV Equipment ...,Electronic Equipment and Accessories ...,34156,NaN,NaN,NaN,NaN,NaN

In [125]:
for col in combined_df.columns:
    if combined_df[col].dtype == 'object':
        combined_df[col] = combined_df[col].str.strip()

In [126]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 854929 entries, 0 to 854928
Data columns (total 15 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Complaint_No      854929 non-null  object
 1   Property_Crimes   854929 non-null  object
 2   Location_Type     854929 non-null  object
 3   Incident_Date     854929 non-null  object
 4   Incident_Time     764376 non-null  object
 5   Zipcode           854929 non-null  object
 6   Property_No       736499 non-null  object
 7   Property_type     736499 non-null  object
 8   Property_Desc     736499 non-null  object
 9   2010 Pop          854929 non-null  object
 10  Workforce Growth  0 non-null       object
 11  ID Gender         0 non-null       object
 12  Median Earnings   0 non-null       object
 13  Race              0 non-null       object
 14  Ethnicity         0 non-null       object
dtypes: object(15)
memory usage: 97.8+ MB

In [127]:
combined_df['Incident_Date_datetime'] = pd.to_datetime(combined_df['Incident_Date'], errors='coerce')

In [128]:
combined_df['Incident_Time'] = combined_df['Incident_Time'].astype(str)
combined_df['Incident_Time'] = combined_df['Incident_Time'].str.strip()
combined_df['Incident_Time'] = combined_df['Incident_Time'].apply(lambda x: '0'+x if len(x) == 3 else x)
combined_df['Incident_Time'] = combined_df['Incident_Time'].apply(lambda x: '00'+x if len(x) == 2 else x)
combined_df['Incident_Time'] = combined_df['Incident_Time'].apply(lambda x: '000'+x if len(x) == 1 else x)
combined_df['Incident_Time'] = pd.to_numeric(combined_df['Incident_Time'], errors='coerce')

In [129]:
combined_df['Incident_Time_time'] = pd.to_datetime(combined_df['Incident_Time'],format= '%H%M',errors='coerce').dt.time
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 854929 entries, 0 to 854928
Data columns (total 17 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Complaint_No            854929 non-null  object
 1   Property_Crimes         854929 non-null  object
 2   Location_Type           854929 non-null  object
 3   Incident_Date           854929 non-null  object
 4   Incident_Time           764376 non-null  float64
 5   Zipcode                 854929 non-null  object
 6   Property_No             736499 non-null  object
 7   Property_type           736499 non-null  object
 8   Property_Desc           736499 non-null  object
 9   2010 Pop                854929 non-null  object
 10  Workforce Growth        0 non-null       object
 11  ID Gender               0 non-null       object
 12  Median Earnings         0 non-null       object
 13  Race                    0 non-null       object
 14  Ethnicity               0 non-null       object
 15  Incident_Date_datetime  854896 non-null  datetime64[ns]
 16  Incident_Time_time      720348 non-null  object
dtypes: datetime64[ns](1), float64(1), object(15)
memory usage: 110.9+ MB

In [130]:
combined_df = combined_df.dropna(subset=['Incident_Date_datetime','Incident_Time_time'])
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 720322 entries, 90553 to 854928
Data columns (total 17 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Complaint_No            720322 non-null  object
 1   Property_Crimes         720322 non-null  object
 2   Location_Type           720322 non-null  object
 3   Incident_Date           720322 non-null  object
 4   Incident_Time           720322 non-null  float64
 5   Zipcode                 720322 non-null  object
 6   Property_No             623181 non-null  object
 7   Property_type           623181 non-null  object
 8   Property_Desc           623181 non-null  object
 9   2010 Pop                720322 non-null  object
 10  Workforce Growth        0 non-null       object
 11  ID Gender               0 non-null       object
 12  Median Earnings         0 non-null       object
 13  Race                    0 non-null       object
 14  Ethnicity               0 non-null       object
 15  Incident_Date_datetime  720322 non-null  datetime64[ns]
 16  Incident_Time_time      720322 non-null  object
dtypes: datetime64[ns](1), float64(1), object(15)
memory usage: 98.9+ MB

In [131]:
combined_df['Incident_datetime'] = combined_df.apply(lambda x: pd.datetime.combine(x['Incident_Date_datetime'],x["Incident_Time_time"]), axis = 1)
combined_df

C:\Users\Trevor\AppData\Local\Temp\ipykernel_6788\2503011183.py:1: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  combined_df['Incident_datetime'] = combined_df.apply(lambda x: pd.datetime.combine(x['Incident_Date_datetime'],x["Incident_Time_time"]), axis = 1)
C:\Users\Trevor\AppData\Local\Temp\ipykernel_6788\2503011183.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  combined_df['Incident_datetime'] = combined_df.apply(lambda x: pd.datetime.combine(x['Incident_Date_datetime'],x["Incident_Time_time"]), axis = 1)

,Complaint_No,Property_Crimes,Location_Type,Incident_Date,Incident_Time,Zipcode,Property_No,Property_type,Property_Desc,2010 Pop,Workforce Growth,ID Gender,Median Earnings,Race,Ethnicity,Incident_Date_datetime,Incident_Time_time,Incident_datetime
90553,20120616144301,Missing Person,Indoors,6/16/12,1230.0,28216,NaN,NaN,NaN,47227,NaN,NaN,NaN,NaN,NaN,2012-06-16,12:30:00,2012-06-16 12:30:00
90554,20120616144400,Theft of Motor Vehicle Parts from Vehicle,Parking Lot,6/15/12,2200.0,28205,1,Vehicle Tag,Vehicles and Parts,43931,NaN,NaN,NaN,NaN,NaN,2012-06-15,22:00:00,2012-06-15 22:00:00
90555,20120616144400,Theft of Motor Vehicle Parts from Vehicle,Parking Lot,6/15/12,2200.0,28205,1,Vehicle Tag,Vehicles and Parts,43931,NaN,NaN,NaN,NaN,NaN,2012-06-15,22:00:00,2012-06-15 22:00:00
90556,20120616144700,All Other Thefts,Outdoors,6/16/12,800.0,28206,1,Other,Miscellaneous,11898,NaN,NaN,NaN,NaN,NaN,2012-06-16,08:00:00,2012-06-16 08:00:00
90557,20120616144700,All Other Thefts,Outdoors,6/16/12,800.0,28206,2,Other,Miscellaneous,11898,NaN,NaN,NaN,NaN,NaN,2012-06-16,08:00:00,2012-06-16 08:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
854924,20161231235500,Burglary/B&E,Indoors,12/31/16,2330.0,28208,1,TV Equipment,Electronic Equipment and Accessories,34156,NaN,NaN,NaN,NaN,NaN,2016-12-31,23:30:00,2016-12-31 23:30:00
854925,20161231235500,Burglary/B&E,Indoors,12/31/16,2330.0,28208,2,TV Equipment,Electronic Equipment and Accessories,34156,NaN,NaN,NaN,NaN,NaN,2016-12-31,23:30:00,2016-12-31 23:30:00
854926,20161231235500,Burglary/B&E,Indoors,12/31/16,2330.0,28208,3,Video Game Systems and Accessories,Electronic Equipment and Accessories,34156,NaN,NaN,NaN,NaN,NaN,2016-12-31,23:30:00,2016-12-31 23:30:00
854927,20161231235500,Burglary/B&E,Indoors,12/31/16,2330.0,28208,4,Tablet Computer,Electronic Equipment and Accessories,34156,NaN,NaN,NaN,NaN,NaN,2016-12-31,23:30:00,2016-12-31 23:30:00
854928,20161231235500,Burglary/B&E,Indoors,12/31/16,2330.0,28208,5,TV Equipment,Electronic Equipment and Accessories,34156,NaN,NaN,NaN,NaN,NaN,2016-12-31,23:30:00,2016-12-31 23:30:00

In [132]:
combined_df.drop(['Incident_Date_datetime','Incident_Time_time','Incident_Date','Incident_Time'], axis=1, inplace=True)

C:\Users\Trevor\AppData\Local\Temp\ipykernel_6788\188114727.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  combined_df.drop(['Incident_Date_datetime','Incident_Time_time','Incident_Date','Incident_Time'], axis=1, inplace=True)

In [133]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 720322 entries, 90553 to 854928
Data columns (total 14 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Complaint_No       720322 non-null  object
 1   Property_Crimes    720322 non-null  object
 2   Location_Type      720322 non-null  object
 3   Zipcode            720322 non-null  object
 4   Property_No        623181 non-null  object
 5   Property_type      623181 non-null  object
 6   Property_Desc      623181 non-null  object
 7   2010 Pop           720322 non-null  object
 8   Workforce Growth   0 non-null       object
 9   ID Gender          0 non-null       object
 10  Median Earnings    0 non-null       object
 11  Race               0 non-null       object
 12  Ethnicity          0 non-null       object
 13  Incident_datetime  720322 non-null  datetime64[ns]
dtypes: datetime64[ns](1), object(13)
memory usage: 82.4+ MB

In [134]:
# List of property crimes to keep
property_crimes_to_keep = [
    'Burglary/B&E', 'Theft', 'Motor Vehicle Theft', 'Theft from Motor Vehicle',
    'All other Thefts', 'Theft of Motor Vehicle Parts from Vehicle',
    'Theft from Building', 'Theft from Coin Operated Machinery', 'Arson',
    'Damage/ Vandalism to Property', 'Shoplifting', 'Embezzlement'
]

Property_df = combined_df[combined_df['Property_Crimes'].isin(property_crimes_to_keep)]
Property_df

,Complaint_No,Property_Crimes,Location_Type,Zipcode,Property_No,Property_type,Property_Desc,2010 Pop,Workforce Growth,ID Gender,Median Earnings,Race,Ethnicity,Incident_datetime
90554,20120616144400,Theft of Motor Vehicle Parts from Vehicle,Parking Lot,28205,1,Vehicle Tag,Vehicles and Parts,43931,NaN,NaN,NaN,NaN,NaN,2012-06-15 22:00:00
90555,20120616144400,Theft of Motor Vehicle Parts from Vehicle,Parking Lot,28205,1,Vehicle Tag,Vehicles and Parts,43931,NaN,NaN,NaN,NaN,NaN,2012-06-15 22:00:00
90565,20120616154500,Theft of Motor Vehicle Parts from Vehicle,Parking Lot,28212,1,Vehicle Tag,Vehicles and Parts,38457,NaN,NaN,NaN,NaN,NaN,2012-06-15 17:00:00
90566,20120616154500,Theft of Motor Vehicle Parts from Vehicle,Parking Lot,28212,1,Vehicle Tag,Vehicles and Parts,38457,NaN,NaN,NaN,NaN,NaN,2012-06-15 17:00:00
90571,20120616155601,Burglary/B&E,Indoors,28213,1,Money/Cash,Money and Securities,37309,NaN,NaN,NaN,NaN,NaN,2012-06-16 13:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
854924,20161231235500,Burglary/B&E,Indoors,28208,1,TV Equipment,Electronic Equipment and Accessories,34156,NaN,NaN,NaN,NaN,NaN,2016-12-31 23:30:00
854925,20161231235500,Burglary/B&E,Indoors,28208,2,TV Equipment,Electronic Equipment and Accessories,34156,NaN,NaN,NaN,NaN,NaN,2016-12-31 23:30:00
854926,20161231235500,Burglary/B&E,Indoors,28208,3,Video Game Systems and Accessories,Electronic Equipment and Accessories,34156,NaN,NaN,NaN,NaN,NaN,2016-12-31 23:30:00
854927,20161231235500,Burglary/B&E,Indoors,28208,4,Tablet Computer,Electronic Equipment and Accessories,34156,NaN,NaN,NaN,NaN,NaN,2016-12-31 23:30:00
854928,20161231235500,Burglary/B&E,Indoors,28208,5,TV Equipment,Electronic Equipment and Accessories,34156,NaN,NaN,NaN,NaN,NaN,2016-12-31 23:30:00

In [135]:
Property_df.to_csv("PropertyCrimes_CLEAN.csv", index=False)